html,
body {
    margin: 0;
    padding: 0;
    background-color: #FAFAD2;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Afbeeldingslaag: 20px vanaf elke rand */
.image-layer {
    position: absolute;
    top: 2%;
    left: 40%;
    right: 2%;
    bottom: 2%;
    z-index: 10;
}

.image-layer img {
    width: 100%;
    height: 100%;

    border-color: orange;
    border-width: 2px;
}

.logo {
    position: absolute;
    top: 92%;
    left: 4%;
    z-index: 40;
    overflow: hidden;
}

/* change color of logo without using a new image */
.logo img {  
    filter: drop-shadow(0px 1000px 0 #FAFAD2);
    transform: translateY(-1000px);
  }

/* Canvas komt boven de afbeelding */
#bgCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}

.content {
    position: absolute;
    margin-top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 30;
    text-align: center;
}

.title {
    color: #FAFAD2;
    font-size: 3.2vw;
    font-family: Arial, sans-serif;
    margin: 0px;
    text-align: left;
}

.calenderItems {
    margin-top: 2vw;
    min-width: 15vw;
}

h2 {
    text-align: left;
    color: #FAFAD2;
    /* Oranje kleur */
    font-size: 24px;
}

.event {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.date {
    font-size: 0.8vw;
    font-weight: bold;
    min-width: 50%;
    text-align: left;
}

.details {
    font-size: 0.8vw;
    text-align: left;
    margin-left: 30%;
    min-width: 100%;
}

.details p {
    display: block;
    margin-top: 0px;
    min-width: 50%;
}